.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #dbe1e8;
}

.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
  
.title h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}

.title h3 span {
    color: var(--color-secondary);
}

.title h3 .bgText {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-5);
    transition: all .4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
}

.wrapper > h3{
    color: #1DA1F2;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.cellInput{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0;
    border: 1px solid #12181b;
}

/* hide number arrow provided by browser on default */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

table{
    border-collapse: collapse;
    border: 3px solid #dbe1e8;
    background-color: #dbe1e8;
}

td{
    padding: 0;
}

.buttonContainer{
    margin-top: 20px;
}

.solveBtn{
    background-color: #1DA1F2;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    margin: 0px 20px;
}

.checkBtn, .resetBtn{
    background-color: #1DA1F2;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}

.solveBtn:hover, .checkBtn:hover, .resetBtn:hover{
    background-color: #dbe1e8;
    transform: translateY(-2px);
}

input[disabled] {
    background-color: #1DA1F2;
    color: white;
 }

 @media screen and (max-width: 600px){

    .wrapper > h3{
        color: #1DA1F2;
        font-size: 1.8rem;
        font-weight: 800;
        margin-bottom: 1rem;
    }
    .cellInput{
        width: 30px;
        height: 30px;
        font-size: 16px;
        border: 0.7px solid #12181b;
    }

    .solveBtn{
        background-color: #1DA1F2;
        padding: 8px 16px;
        border-radius: 16px;
        font-size: 12px;
        margin: 0px 14px;
    }
    
    .checkBtn, .resetBtn{
        background-color: #1DA1F2;
        padding: 8px 16px;
        border-radius: 16px;
        font-size: 12px;
    }

    .title h3 {
        position: relative;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .title h3 .bgText {
        font-size: 5.1rem;
    }
 }